{% extends "blog/main.html" %}
{% load humanize %}

{% block content %}
{% include 'expenses/liquidation_status.html'  %}
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <h5>Actual Expenses</h5>
            <table class="table table-sm">
                <tr>
                    
                    <th>Act. Expense No.</th>
                    <th>Budget Line</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Actual Cost</th>
                    <th>Total Spent</th>
                    <th></th>
                    <th></th>

                    
                </tr>
                {% for actualExpense in actualExpenses %}
                <tr>
                    
                    <td>{{ actualExpense.id }}</td>
                    <td>{{ actualExpense.budget_line }}</td>
                    <td>{{ actualExpense.description }}</td>
                    <td>{{ actualExpense.quantity }}</td>
                    <td>{{ actualExpense.unit_cost }}</td>
                    <td>{{ actualExpense.total }}</td>
                    {% if liquidation.compiled_by == user and liquidation.status != 'Processed' %}
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_actualExpense' actualExpense.id %}">Edit</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_actualExpense' actualExpense.id %}">Delete</a></td>
                    {% endif %}             
                </tr>
                {% endfor %}
                
            </table>

        </div> 

    </div>

</div>

{% endblock %}