
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-2" id='rejected-requisitions'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Rejected</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title>{{ rejected }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-2" id='pending-requisitions'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title> {{ pending }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-2" id='authorised-requisitions'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Processed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title> {{ processed }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-2" id='paid-requisitions'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Closed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title>{{ closed }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>