{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="content-section">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Confirmation Payment</legend>
                        
                        <div class="row">
                            <div class="col-md-6">{{ form.status|as_crispy_field }}</div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form.reason_for_rejection|as_crispy_field }}</div>
                        </div>

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Confirm Payment</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2">

    </div>

</div>

{% endblock content %}
