{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'expenses/status.html' %}

<div class="row">
    <div class="col">
          <div class="card card-body">
              <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form action="" method="get">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5>Requisitions</h5>
                                    </div>
                                    <div class="col-md-2">{{ myFilter.form.budget|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ myFilter.form.requested_by|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ myFilter.form.payee|as_crispy_field }}</div>
                                    <div class="col-md-2">{{ myFilter.form.status|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_requisition' %}" id='create-button'>Create New Requisition</a>
                                    </div>
                                    <div class="col-md-4">{{ myFilter.form.start_date|as_crispy_field }}</div>
                                    <div class="col-md-4">{{ myFilter.form.end_date|as_crispy_field }}</div>
                                    <div class="col-md-2"><button class="btn btn-primary" type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              <table class="table">
                  <tr>
                    <th>No.</th>
                    <th>Budget</th>
                    <th>Requested by</th>
                    <th>Payee</th>
                    <th>Date Submitted</th>
                    <th>Amount</th>
                    <th>Payment Type</th>
                    <th>Status</th>
                    <th></th>
                  </tr>

                  {% for i in requisitions %}
                  <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.budget }}</td>
                    <td>{{ i.requested_by }}</td>
                    <td>{{ i.payee }}</td>
                    <td>{{ i.date_requested }}</td>
                    <td>{{ i.total }}</td>
                    <td>{{ i.payment_type }}</td>
                    <td>{{ i.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="">View</a></td>
                  </tr>
                  {% endfor %}

              </table>
          </div>
    </div>
</div>
     
{% endblock content %}