{% extends "blog/main.html" %}


{% block content %}
{% include 'projects/projectDetailStatus.html' %}

<div class="row">
    <div class="card card-body">
        <form method="GET">
            <button class="btn btn-primary" type="submit" id="create-button">Search</button>
        </form>

    </div>

</div>

<div class="row">
    <div class="col">
        <table class="table table-sm">
            <tr>
                <th>Task Title</th>
                <th>Objective</th>
                <th>Start Date</th>
                <th>Duration</th>
                <th>End Date</th>
                <th>Assigned To</th>
                <th>Status</th>
                <th></th>                
            </tr>
                {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.objective }}</td>
                <td>{{ task.start_date}}</td>
                <td>{{ task.duration}}</td>
                <td>{{ task.end_date}}</td>
                <td>{{ task.assigned_to}}</td>
                <td>{{ task.status}}</td>
                <td><a class="btn btn-sm btn-info" href="">View</a></td>                
            </tr>
            {% endfor %}        
        </table>

    </div> 

</div>

{% endblock %}