{% extends "blog/main.html" %}
{% load humanize %}

{% block content %}

<div class="row" >
    <div class="col-md-8">
        <div class="row" >
            <div class="col-md-4">
                <div class="card card-body">
                    <a class="btn btn-outline-info btn-sm btn-block" href="">Update</a>
                    <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete</a>
                    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_task' project.id %}">Create Task</a>
                    <a class="btn btn-outline-info btn-sm btn-block" href="">Create Objective</a>
                </div>
            </div>
            <div class="col-md-8">

                <div class="card card-body">
                    <p>Title: {{ project.title }}</p>
                    <p>Sponsor: {{project.budget}}</p>
                    <p>Manager: {{ project.manager }}</p>
                    <p>Grant Size: {{project.amount_allocated|floatformat:2|intcomma}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center text-white mb-3" id='tasks-completed'>
                    <div class="card-header">
                        <h5 class="card-title" id=top-title>Burn Rate</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" id=top-title></h3>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card text-center text-white mb-3" id='tasks-completed'>
                    <div class="card-header">
                        <h5 class="card-title" id=top-title>Work Rate</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" id=top-title></h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<br>

<div class="row">
    <div class="card card-body">
        <form method="GET">
            <button class="btn btn-primary" type="submit" id="create-button">Search</button>
        </form>

    </div>

</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Objective</th>
                    <th>Task</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Assigned to</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                    
                </tr>
                {% for i in tasks %}
                <tr>
                    <td>{{ i.objective }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.start_date|date:'Y-m-d' }}</td>
                    <td>{{ i.duration }}</td>
                    <td>{{ i.assigned_to }}</td>
                    <td>{{ i.status }}</td>
                    <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
                                  
                </tr>
                {% endfor %}
                
            </table>

        </div> 

    </div>

</div>

{% endblock %}