
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id='total-tasks'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Total Tasks</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title> {{ total_tasks }}</h3>
                </div>
            </div>

        </div>

    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id='tasks-not-started'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Not Started</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title>{{not_started}} </h3>
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id='tasks-in-progress'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>In progress</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title>{{in_progress}}</h3>
                </div>         
            </div>

        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id='tasks-completed'>
                <div class="card-header">
                    <h5 class="card-title" id=top-title>Tasks completed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id=top-title>{{ completed }}</h3>
                </div>
            </div>
        </div>
    </div>

    
</div>